{% extends "doge/layout.html" %}
{% load static %}

{% block body %}

    <div class="container" id="div1">
        <div class="container" id="div1_1">


            <div class="containerdiv1_1_123" id="div1_1_1">
                <h1 class="messages mb-3" id="h1_1">Submissions</h1>

                <!--<form>
                    <div class="mb-3">

                      <label for="input2" class="form-label">Name</label>
                      <input id="input2" class="form-control" type="text" placeholder="John Smith" aria-label="default input example">

                    </div>
                    <div class="mb-3">

                      <label for="input1" class="form-label ms-auto">Email address</label>
                      <input type="email" class="form-control" id="input1" placeholder="johnSmith@gmail.com" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">

                    <label for="input2" class="form-label">Prefered contact method</label>
                      <input id="input2" class="form-control" type="text" placeholder="Instagram: @johnSmith32" aria-label="default input example">

                    </div>

                  </form>

                <a target="_blank" href="https://metamask.io/"><button id="button1" type="button" class="btn btn-outline-dark buttons">Submit</button></a>
            </div> -->

            <p class="text-center" id="p1">This will become avaliable one week after the launch.</p>
        </div>
    </div>

    
   
{% endblock %}

{% block script %}
    <link href="{% static 'doge/submissions.css' %}" rel="stylesheet">
    <script src="{% static 'doge/submissions.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
{% endblock %}